.ContainerGameSetup
{
	margin-top: 100px;
	height: 100%;
	width: 100%;
	z-index: 2;
	padding-right: 300px;
	visibility: collapse;
}

.CustomSettingsColumn
{
	height: 100%;
	width: 240px;
	horizontal-align: right;

	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619 ), to( #000000 ) );
	box-shadow: black -4px -4px 8px 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.ContainerCustomGameSettingsPanels
{	
	width: 100%;
	vertical-align: center;
	flow-children: down;
}

.CustomSettingPanel
{
	width: 100%;
	margin: 6px;
	padding: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	flow-children: down;
}

.CustomGameSettingsTitle
{
	color: #a5ada2;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 1px;
	margin-top: 1px;
	text-shadow: 2px 2px 2px black;
	horizontal-align: center;
}

.CustomGameSettingPanelDivider
{
	width: 100%;
	margin: 2px;
	height: 1px;
	background-color: #49525555;
}

.ContainerCustomGameSettingOptions
{
	flow-children: down;
	width: 100%;
}

.CGSGroupCollection
{
	flow-children: right;
}

.CGSGroup
{
	flow-children: down;
}

.CGSRadio
{
	flow-children: right;
	margin: 2px;
	margin-top: 4px;
	margin-left: 5px;
}

.CGSImage
{
	margin-left: 4px;
}