.BaseHUD
{
    horizontal-align: left;
    vertical-align: middle;
    z-index: -1;
}

#ButtonManager
{
    z-index: 1;
}

.Button
{
    width: 36px;
    height: 32px;
}

.Button:hover
{
    wash-color: #00000090;
}

#HeroPanel
{
    width: 327px;
    height: 800px;
    background-image: url("file://{resources}/images/custom_game/custom_shop_bg.png");
    visibility: collapse;
    flow-children: down;
}

#TokenInfo
{
    font-size: 24;
    horizontal-align: center;
    margin-top: 18px;
    color: #ffffff;
    flow-children: down;
}

.extraInfo
{
    font-size: 18;
    horizontal-align: center;
    color: #ffffff;
}

.PickButton
{
    margin-top: 12px;
    margin-left: 46px;
}

.PickButton:hover
{
    wash-color: #00000090;
}